.bdy
{
    background-image: linear-gradient(to right,rgb(183, 129, 218),rgb(237, 235, 227));
}   
.box
{
    border: 2px solid red;
    width: 400px;
    height: 400px;
    text-align: center;
    margin : auto;
    display:flex ;
    flex-direction: column;
}
.labels
{
    display: inline-block;
}
.b1
{
    padding: 15px;
    flex:50%;
    background-color:rgb(237, 240, 240);
}
.b2
{
    flex:40%;
    background-color:rgb(196, 193, 193);
}
.l2
{
    margin-left: 220px;
}
.cl1
{
    display: flex;
    flex-direction: row;
    gap:60px;
    margin-left:270px;
}
.cl2
{
    display: flex;
    flex-direction: row;
    gap:60px;
    margin-left:350px;
}